head
    title Result
    style.
        button{
        background-color: blue;
        color: White;
        border-radius: 10px;
        padding: 15px;
        font-size: 15px;
        margin-right: 2%;
        } 
div
    h3 Order successfully placed
    form(action="")
        button(formaction="/home") Back 